@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(/assets/pattern-donut.jpg);
  background-size: 50%;
  min-height: 100vh;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 80px;
  padding: 0px 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header .logo {
  top: 35%;
  height: 70%;
  position: relative;
  transform: translate(-50%, -50%);
}
.header .logo:hover {
  position: relative;
  animation: miAnimation 1.5s infinite linear;
  cursor: pointer;
}

@keyframes miAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #af772e;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  border-bottom: 5px dashed #5f2d2e;
  border-top: 3px solid #5f2d2e;
  background-image: url("./assets/header-donut.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-presentation {
  color: #ffffff;
  font-size: 95px;
  font-family: "Playfair Display", serif;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 88%);
}

.about-us-card {
  margin: 30px auto 30px auto;
  padding: 0 10px 0 10px;
  width: 70%;
  min-height: 170px;
  background-color: #e9cd95ee;
  border-radius: 20px;
  box-shadow: 4px 7px 5px 4px rgba(120, 120, 120, 0.55);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.about-us-card h2 {
  margin-top: 30px;
  color: #444444;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 20px;
}

.about-us-card p {
  display: flex;
  font-size: 16px;
  color: #674b25;
}
